/* defining the global variables */
:root {
    --primaryColor: #577D86;
    --primaryAccentColor: #214851;
    --backgroundcolor: #c2efe8;
    --myTitleFont: 'Dancing Script', cursive;
    --titleFont:'Sacramento', cursive;
    --fontdefaultTextFont: 'Lato', sans-serif;
    --fontdefaultHeading: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    font-family: var(--fontdefaultHeading);
    color: var(--primaryColor);
    line-height: 2;
}
h2 {
    font-family: var(--fontdefaultHeading);
    font-size: 2rem;/*1em=16px*/
    margin: 0;
    padding-bottom: 28px;
    padding: 20px;
}
h3{
    font-size: 1.25rem;
}

hr{
    margin-top: 100px;
    margin-bottom: 100px;
    border: dotted 8px var(--backgroundcolor);
    border-bottom: none;

    width: 7%;
}
.top-section {
    background-color: var(--backgroundcolor);
    /* height: 500px; */
    text-align: center;
    padding-top: 120px;
}

/* .heading-group {
    /* display: inline-block; */
    /* margin-top: 100px; 
    }
*/
.heading {
    font-family: var(--myTitleFont);
    font-size: 4.75rem;
    margin: 0;
}



.top-cloud {
    position: absolute;
    margin-block-start: -80px;
    margin-left: 300px;
    width: 150px;
}

.bottom-cloud {
    position: absolute;
    margin-block-start: 50px;
    margin-left: -250px;
    width: 150px;
}

.mountain {
    width: 300px;
}
img{
    margin-bottom: -5px
}
.my-image{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: block;
    margin:auto ;
}
.middle_section{
    text-align: center;
    margin: 50px auto 100px auto;
    width: 60%;
    font-size: 20px;

}
.intro{
    width: 75%;
    margin: auto;
}
.skill-image{
    width: 150px;
}
.code-image{
    float: left;
    margin-right: 40px;
}
.layout-image{
    float: right;
    margin-left: 40px;
}
.skill-row{
    text-align: left;
    margin-bottom: 80px;
}
.my-skills{
    margin-bottom: 70px;
}
a{
    text-decoration: none;
    color: white;
}
.contact{
    background-color: var(--primaryColor);
    font-size: 1.75rem;
    /* TRBL for 4 directions */
    padding: 10px 20px;  /* vertical horizontal*/
    border-radius: 15px;
}
.contact:hover{
    background-color: var(--primaryAccentColor);
}
.bottom-section{
    /* margin: 10px auto; */
    padding: 40px auto;
    background-color: var(--primaryColor);
    text-align: center;

}
.social-media{
    padding: 40px 0px;
}
.copyright{
    
    padding-bottom: 30px;
    font-size: 0.75rem;
    color: white;
    margin: 0;
}
.social-link{
    margin: 0px 40px;
}
.social-link:hover{
    color: var(--backgroundcolor);
}