/* defining the global variables */
:root {
    --primaryColor: #577D86;
    --backgroundcolor: #c2efe8;
    --myTitleFont: 'Dancing Script', cursive;
    --titleFont:'Sacramento', cursive;
    --fontdefaultTextFont: 'Lato', sans-serif;
    --fontdefaultHeading: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    
    color: var(--primaryColor);
}
h2 {
    font-family: var(--fontdefaultHeading);
    font-size: 1.5rem;/*1em=16px*/
    margin: 0;
    padding-bottom: 28px;
    padding: 20px;
}

hr{
    margin-top: 100px;
    margin-bottom: 100px;
    border: dotted 5px var(--backgroundcolor);
    border-bottom: none;

    width: 5%;
}
.top-section {
    background-color: var(--backgroundcolor);
    /* height: 500px; */
    text-align: center;
    padding-top: 120px;
}

/* .heading-group {
    /* display: inline-block; */
    /* margin-top: 100px; 
    }
*/
.heading {
    font-family: var(--myTitleFont);
    font-size: 4.75rem;
    margin: 0;
}



.top-cloud {
    position: absolute;
    margin-block-start: -80px;
    margin-left: 300px;
    width: 150px;
}

.bottom-cloud {
    position: absolute;
    margin-block-start: 50px;
    margin-left: -250px;
    width: 150px;
}

.mountain {
    width: 300px;
}
img{
    margin-bottom: -5px
}
.my-image{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: block;
    margin:auto ;
}
.middle_section{
    text-align: center;
    margin: 50px auto 100px auto;
    width: 75%;
    font-size: 20px;

}
.intro{
    width: 50%;
    margin: auto;
    line-height: 2;
}